.task-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
}

.task-checkbox {
    margin: 0;
}

.task-text {
    flex: 1;
}